@import '../s/mixins'

.popup__scrollbox {

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            position: relative;
            overflow: hidden;
            margin: 0;
            padding: 0.2em;
            white-space: nowrap;

            .fader {
                position: absolute;
                top: 0;
                right: 0;
                width: 20px;
                height: 100%;
                bg-gradient( rgba(#FFF, 0) #FFF, #FFF );
            }

            &.current {
                cursor: pointer;
            }
        }
    }
}

// ----------------------------------------------------------------------------------------------------------------- //

// Default theme

.theme__default {
    .popup__scrollbox ul li {

        .match {
            background: #FFE500;
        }

        &.current {
            background-color: #EEE;

            .fader {
                bg-gradient( rgba(#EEE, 0) #EEE, #EEE );
            }
        }
    }
}

// ----------------------------------------------------------------------------------------------------------------- //

.loader_new {
    position: absolute;
    display: inline-block;
    margin-top: 2px;
    padding: 0px;
    width: 16px;
    height: 16px;
    background: url("http://assets.tumblr.com/images/loading.gif") no-repeat center center;
    opacity: 0;
    transition-timing-function: default;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: opacity;

    .loader_new__show {
        opacity: 1;
    }
}
