.popup__scrollbox ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.popup__scrollbox ul li {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0.2em;
  white-space: nowrap;
}
.popup__scrollbox ul li .fader {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: #fff;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.00), #fff);
/* Saf4+, Chrome */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.00), #fff);
/* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(top, rgba(255,255,255,0.00), #fff);
/* FF3.6+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.00), #fff);
/* IE10 */
  background: -o-linear-gradient(top, rgba(255,255,255,0.00), #fff);
/* Opera 11.10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0.00), #fff);
/* W3C */
}
.popup__scrollbox ul li.current {
  cursor: pointer;
}
.theme__default .popup__scrollbox ul li .match {
  background: #ffe500;
}
.theme__default .popup__scrollbox ul li.current {
  background-color: #eee;
}
.theme__default .popup__scrollbox ul li.current .fader {
  background: #eee;
  background: -webkit-linear-gradient(top, rgba(238,238,238,0.00), #eee);
/* Saf4+, Chrome */
  background: -webkit-linear-gradient(top, rgba(238,238,238,0.00), #eee);
/* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(top, rgba(238,238,238,0.00), #eee);
/* FF3.6+ */
  background: -ms-linear-gradient(top, rgba(238,238,238,0.00), #eee);
/* IE10 */
  background: -o-linear-gradient(top, rgba(238,238,238,0.00), #eee);
/* Opera 11.10+ */
  background: linear-gradient(to bottom, rgba(238,238,238,0.00), #eee);
/* W3C */
}
.loader_new {
  position: absolute;
  display: inline-block;
  margin-top: 2px;
  padding: 0px;
  width: 16px;
  height: 16px;
  background: url("http://assets.tumblr.com/images/loading.gif") no-repeat center center;
  opacity: 0;
  transition-timing-function: default;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: opacity;
}
.loader_new .loader_new__show {
  opacity: 1;
}
