.popup__scrollbox ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.popup__scrollbox ul li {
    padding: 0.2em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.popup__scrollbox ul li.current {
    background-color: rgba(238,238,238,1);
    cursor: pointer;
}

.loader {
    background: url('http://assets.tumblr.com/images/loading.gif') no-repeat center center;
    width: 16px;
    height: 16px;
    padding: 3px;
    vertical-align: middle;
    display: inline-block;
}

.loader_new {
    position: absolute;
    display: inline-block;
    background: url('http://assets.tumblr.com/images/loading.gif') no-repeat center center;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin-top: 2px;

    opacity: 0;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    transition-timing-function: default;
}

.loader_new__show {
    opacity: 1;
}

.fader {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: -webkit-linear-gradient(0, rgba(255,255,255,0), rgba(255,255,255,1.0));
}

.popup__scrollbox ul li.current .fader {
    background: -webkit-linear-gradient(0, rgba(238,238,238,0), rgba(238,238,238,1.0));
}