/* Basic styles */
.link {
    cursor: pointer;

    color: #1A3DC1;
}
.link:hover {
    color: #F00;
}

/* Awfully useful wrapper link (also, all pseudo-links are made as wrappers) */
.link_wrapper,
.link_pseudo {
    display: inline-block;

    white-space: nowrap; /* Would be a class for multiline links */
    text-decoration: none;
}
.link__inner {
    line-height: 1.1;

    text-decoration: underline;
}

/* Pseudo-link (can be only in wrapper)  */
.link_pseudo .link__inner {
    text-decoration: none;
    border-bottom: 1px dashed;
}

/* Contextual styles */
.link_wrapper .ico {
    margin-top: -4px;

    vertical-align: middle;
}
