unless prefix is defined
    @import '../s/conf'

link ?= prefix + 'link'

// Basic styles
.{link} {
    cursor: pointer;

    color: #1A3DC1;

    &:hover {
        color: #F00;
    }

    // Awfully useful wrapper link (also, all pseudo-links are made as wrappers)
    &_wrapper {
        display: inline-block;

        white-space: nowrap; // Would be a class for multiline links
        text-decoration: none;

        & .ico {
            margin-top: -4px;

            vertical-align: middle;
        }
    }

    &__inner {
        line-height: 1.1;

        text-decoration: underline;
    }

    // Pseudo-link (can be only in wrapper)
    &_pseudo,
    &_pseudo&_wrapper &__inner {
        text-decoration: none;
        border-bottom: 1px dotted;
    }
    &_pseudo&_wrapper {
        border-bottom: 0;
        }

}

