/* General purpose mixins */

border-radius() {
	-webkit-border-radius: arguments;
	   -moz-border-radius: arguments;
	        border-radius: arguments;
}

box-shadow() {
    -webkit-box-shadow: arguments;
       -moz-box-shadow: arguments;
            box-shadow: arguments;
}

transform() {
    -webkit-transform: arguments;
       -moz-transform: arguments;
         -o-transform: arguments;
            transform: arguments;
}

background-size() {
    -moz-background-size: arguments;
      -o-background-size: arguments;
         background-size: arguments;
}

background-origin() {
    -moz-background-origin: arguments;
      -o-background-origin: arguments;
         background-origin: arguments;
}
