size(normal, active, arrow) {
    &,
    &._disabled,
    &._disabled:active,
    &._disabled:hover {
        gen(normal);
    }

    &:active {
        gen(active);
    }

    & > .{button}__arrow {
        width: get(arrow, size);
        height: @width;
    }

    &.{button}_arrowed {
        margin-right: get(arrow, margin-right);

        &,
        &._disabled,
        &._disabled:active,
        &._disabled:hover {
            padding-right: get(arrow, padding-right);
        }
    }

    button&.{button}_arrowed:active:hover{o-selector-hack} {
        padding-left: get(arrow, padding-left);
        padding-right: get(arrow, padding-right);
    }
};

// Small Button
.{button}_size_s {
    normal = (padding (1px 8px)) ()
    active = (padding (2px 8px 0)) ()
    arrow = (size .85em) (margin-right 6px) (padding-right 7px) (padding-left 8px)

    size(normal, active, arrow);
}

// Very small button
.{button}_size_xs {
    normal = (padding (1px 6px)) (font-size 11px) (font-family unquote(join(", ", "verdana" "arial" "sans-serif")))
    active = (padding (2px 6px 0)) ()
    arrow = (size .95em) (margin-right 4px) (padding-right 5px) (padding-left 6px)

    size(normal, active, arrow);
}

// Big button
.{button}_size_l {
    normal = (padding (3px 12px)) (font-size 15px)
    active = (padding (4px 12px 2px)) ()
    arrow = (size 1.07em) (margin-right 10px) (padding-right 11px) (padding-left 12px)

    size(normal, active, arrow);
}