// Crazy arrowed button mode

// TODO:
//   1. hover pointer
//   2. fix everything in Fx
//   3. adjust paddings
//   4. add more sizes


.{button}_arrowed {
    &,
    &:active {
        vertical-align: top; // Active state won't make baseline jumps
        overflow: visible;

        border-right: 0;
        padding-right: 9px;
        margin-right: 8px;
        border-radius: 3px 0 0 3px;
    }

    button&:active:hover{o-selector-hack} {
        padding-left: 10px;
        padding-right: 9px;
    }

    // Crazy focus/active states
    // FIXME: Buggy in Fx
    &:before {
        left: -10px;
        clip: rect(-99em, 99em, 99em, 10px);
        transform: rotate(180deg) translateX(-10px);
    }

    &:active:before {
        box-shadow: inset 0 -1px 4px rgba(0,0,0,.4);
    }
}

.{button}__arrow {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 1em;
    height: 1em;
    margin: 0 0 0 -1px;
    clip: rect(-99em, 99em, 99em, 1px);
    transform: translate(0,-1px) translate(0,-50%);
    -webkit-transform: translate(0,-.5px) translate(0,-50%);

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
        padding: 1px 1px 0 0;
        border-top: 1px solid #DCDCDC;
        border-right: 1px solid #999;

        background: -webkit-linear-gradient(-45deg,#FEFEFE,#D1D1D1);
        background:    -moz-linear-gradient(-45deg,#FEFEFE,#D1D1D1);
        background:      -o-linear-gradient(-45deg,#FEFEFE,#D1D1D1);
        background:         linear-gradient(-45deg,#FEFEFE,#D1D1D1);

        transform: scale(0.65, 1) rotate(45deg);
    }

    .{button}_arrowed:focus > &:before {
        box-shadow: 2px -2px 2px 0 rgba(255,229,131,.6), 0 0 2px 0 rgba(255,229,131,.6);
    }

    .{button}_arrowed:hover > &:before {
        background: -webkit-linear-gradient(-45deg,#FEFEFE 0, #CBCBCB 87%, #FFF 100%);
        background:    -moz-linear-gradient(-45deg,#FEFEFE 0, #CBCBCB 87%, #FFF 100%);
        background:      -o-linear-gradient(-45deg,#FEFEFE 0, #CBCBCB 87%, #FFF 100%);
        background:         linear-gradient(-45deg,#FEFEFE 0, #CBCBCB 87%, #FFF 100%);
    }

    .{button}_arrowed:active > &:before {
        border-color: #9F9F9F #C7C7C7;
        background: -webkit-linear-gradient(-45deg,#E6E6E6, #FBFBFB);
        background:    -moz-linear-gradient(-45deg,#E6E6E6, #FBFBFB);
        background:      -o-linear-gradient(-45deg,#E6E6E6, #FBFBFB);
        background:         linear-gradient(-45deg,#E6E6E6, #FBFBFB);
    }

    .{button}_arrowed:active > &:before {
        box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    }
}

