// Small Button
.{button}_size_s {
    padding: 1px 8px;

    &:active {
        padding: 2px 8px 0px;

    }

    & > .{button}__arrow {
        width: .85em;
        height: .85em;
    }

    &.{button}_arrowed,
    &.{button}_arrowed:active {
        padding-right: 7px;
        margin-right: 6px;
    }

    button&.{button}_arrowed:active:hover{o-selector-hack} {
        padding-left: 8px;
        padding-right: 7px;
    }
}

// Small button
.{button}_size_xs {
    font-size: 11px;
    padding: 1px 6px;
    font-family: verdana, arial, sans-serif;

    &:active {
        padding: 2px 6px 0px;

    }

    & > .{button}__arrow {
        width: .95em;
        height: .95em;
    }

    &.{button}_arrowed,
    &.{button}_arrowed:active {
        padding-right: 5px;
        margin-right: 4px;
    }

    button&.{button}_arrowed:active:hover{o-selector-hack} {
        padding-left: 6px;
        padding-right: 5px;
    }

}

// Big button
.{button}_size_l {
    padding: 3px 12px;
    font-size: 15px;

    &:active {
        padding: 4px 12px 2px;
    }

    button&.{button}_arrowed:active:hover{o-selector-hack} {
        padding-right: 11px;
        padding-left: 12px;
    }

    & > .{button}__arrow {
        width: 1.07em;
        height: 1.07em;
    }

    &.{button}_arrowed,
    &.{button}_arrowed:active {
        padding-right: 11px;
        margin-right: 10px;
    }
}
