/* The Button */
.button {
    font: 13px/1.2 "Helvetica Neue", Arial, sans-serif;

    position: relative;

    display: inline-block;
    overflow: visible; /* IE padding fix */
    vertical-align: middle; /* Is there a better value? */

    padding: 2px 10px;
    margin: -3px 0 0;

    border: 1px solid;
    border-color: #DDD #BBB #999;
    border-color: rgba(192,192,192,.6) transparent rgba(48,48,48,.5);

    text-decoration: none;
    cursor: pointer;
    user-select: none;

    color: #000;
    text-shadow: 0 1px rgba(255,255,255,.7);

    background: #EEE;
    background:
      -webkit-linear-gradient(top,rgba(255,255,255,.9),rgba(184,184,184,.66)),
      -webkit-linear-gradient(top,rgba(192,192,192,.6),rgba(53,53,53,.5)),
      -webkit-linear-gradient(top,rgba(192,192,192,.6),rgba(53,53,53,.5)) 100% 0;
    background:
      -moz-linear-gradient(top,rgba(255,255,255,.9),rgba(184,184,184,.66)),
      -moz-linear-gradient(top,rgba(192,192,192,.6),rgba(53,53,53,.5)),
      -moz-linear-gradient(top,rgba(192,192,192,.6),rgba(53,53,53,.5)) 100% 0;
    background:
      -o-linear-gradient(top,rgba(255,255,255,.9),rgba(184,184,184,.66)),
      -o-linear-gradient(top,rgba(192,192,192,.6),rgba(53,53,53,.5)),
      -o-linear-gradient(top,rgba(192,192,192,.6),rgba(53,53,53,.5)) 100% 0;
    background:
      linear-gradient(to bottom,rgba(255,255,255,.9),rgba(184,184,184,.66)),
      linear-gradient(to bottom,rgba(192,192,192,.6),rgba(53,53,53,.5)),
      linear-gradient(to bottom,rgba(192,192,192,.6),rgba(53,53,53,.5)) 100% 0;
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%, 1px 100%, 1px 100%;
      -o-background-size: 100% 100%, 1px 100%, 1px 100%;
         background-size: 100% 100%, 1px 100%, 1px 100%;
    -moz-background-origin: padding-box, border-box, border-box;
      -o-background-origin: padding-box, border-box, border-box;
         background-origin: padding-box, border-box, border-box;

    border-radius: 3px;
    }
    /* Pseudo-elements to better state styling */
    .button:before,
    .button:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
                border-radius: 2px;
        }

.button:hover {
    border-color: rgba(150,150,150,.4) transparent rgba(49,49,49,.5);
    background-image:
      -webkit-linear-gradient(top,
        rgba(255,255,255,.9)    0,
        rgba(206,206,206,.66)  59%,
        rgba(173,173,173,.66)  87%,
        rgba(255,255,255,1)   100%),
      -webkit-linear-gradient(top,rgba(150,150,150,.4),rgba(49,49,49,.5)),
      -webkit-linear-gradient(top,rgba(150,150,150,.4),rgba(49,49,49,.5));
    background-image:
      -moz-linear-gradient(top,
        rgba(255,255,255,.9)    0,
        rgba(206,206,206,.66)  59%,
        rgba(173,173,173,.66)  87%,
        rgba(255,255,255,1)   100%),
      -moz-linear-gradient(top,rgba(150,150,150,.4),rgba(49,49,49,.5)),
      -moz-linear-gradient(top,rgba(150,150,150,.4),rgba(49,49,49,.5));
    background-image:
      -o-linear-gradient(top,
        rgba(255,255,255,.9)    0,
        rgba(206,206,206,.66)  59%,
        rgba(173,173,173,.66)  87%,
        rgba(255,255,255,1)   100%),
      -o-linear-gradient(top,rgba(150,150,150,.4),rgba(49,49,49,.5)),
      -o-linear-gradient(top,rgba(150,150,150,.4),rgba(49,49,49,.5));
    background-image:
      linear-gradient(to bottom,
        rgba(255,255,255,.9)    0,
        rgba(206,206,206,.66)  59%,
        rgba(173,173,173,.66)  87%,
        rgba(255,255,255,1)   100%),
      linear-gradient(to bottom,rgba(150,150,150,.4),rgba(49,49,49,.5)),
      linear-gradient(to bottom,rgba(150,150,150,.4),rgba(49,49,49,.5));
    }
.button:active {
    padding: 3px 10px 1px;

    border-color: rgba(91,91,91,.6) transparent rgba(109,109,109,.4);
    background-image:
      -webkit-linear-gradient(top,rgba(216,216,216,.66),rgba(251,251,251,.8)),
      -webkit-linear-gradient(top,rgba(91,91,91,.6),rgba(109,109,109,.4)),
      -webkit-linear-gradient(top,rgba(91,91,91,.6),rgba(109,109,109,.4));
    background-image:
      -moz-linear-gradient(top,rgba(216,216,216,.66),rgba(251,251,251,.8)),
      -moz-linear-gradient(top,rgba(91,91,91,.6),rgba(109,109,109,.4)),
      -moz-linear-gradient(top,rgba(91,91,91,.6),rgba(109,109,109,.4));
    background-image:
      -o-linear-gradient(top,rgba(216,216,216,.66),rgba(251,251,251,.8)),
      -o-linear-gradient(top,rgba(91,91,91,.6),rgba(109,109,109,.4)),
      -o-linear-gradient(top,rgba(91,91,91,.6),rgba(109,109,109,.4));
    background-image:
      linear-gradient(to bottom,rgba(216,216,216,.66),rgba(251,251,251,.8)),
      linear-gradient(to bottom,rgba(91,91,91,.6),rgba(109,109,109,.4)),
      linear-gradient(to bottom,rgba(91,91,91,.6),rgba(109,109,109,.4));
    }
.button:active:before {
    -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.4);
       -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.4);
            box-shadow: inset 0 1px 4px rgba(0,0,0,.4);
    }

/* Fixing Opera's jumping text */
/* However another bug appears (persistent active) */
input.button:active:hover,
button.button:active:hover, x:-o-prefocus {
    padding: 2px 11px 2px 9px;
    }
.button:focus {
    outline: none;
}
.button:focus:after {
    -webkit-box-shadow: 0 0 3px 1px rgba(255,229,131,.8);
       -moz-box-shadow: 0 0 3px 1px rgba(255,229,131,.8);
            box-shadow: 0 0 3px 1px rgba(255,229,131,.8);
    }

/* Fixing mozilla's inner paddings */
.button::-moz-focus-inner {
    padding: 0;
    border: none;
}
