button ?= prefix + 'button'

//---------------------------------------------------------------------------//
/* Default button mixin */

button_base() {
    font: 13px/1.2 "Helvetica Neue", Arial, sans-serif;

    position: relative;

    display: inline-block;
    vertical-align: middle;
    overflow: hidden; // Active state won't make baseline jumps
    overflow: visible; if _ie // IE padding fix

    margin: -3px 0 0;

    text-decoration: none;
    cursor: pointer;
    user-select: none;

    // Normal and disabled states
    &,
    &._disabled,
    &._disabled:active,
    &._disabled:hover {
        padding: 2px 10px;
    }
    // Disabled state
    &._disabled,
    &._disabled:active {
        cursor: default;
    }
    &._disabled:before {
        display: none;
    }

    // Pseudo-elements to better state styling
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    // Fixing mozilla's inner paddings
    &::-moz-focus-inner {
        padding: 0;
        border: none;
    }
}

//---------------------------------------------------------------------------//
