_ie ?= false // For smart IE including

//---------------------------------------------------------------------------//
/* MIXINs */

/**
    @param {string} $prop_name CSS property to be rendered
    @param {Array.<Gradient>} $grads Gradients definition.

    Example:
        $grad1 = (#EEE 0) (#EFEFEF 100%)
        $grad2 = #FAFAFA #EFEFEF

        bg-gradient(background, $grad1)
        bg-gradient(background-image, $grad2)
        bg-gradient(background-image, $grad1, $grad2)
*/
bg-gradient($prop_name, $grads...) {
    $webkit = ()
    $moz = ()
    $o = ()
    $standart = ()

    $comma = unquote(',')

    for $grad, i in $grads {
        if (i > 0) {
            push($webkit, $comma) // Мегахак: вставляем разделитель как расквотированную запятую
            push($moz, $comma)
            push($o, $comma)
            push($standart, $comma)
        }

        $formula = unquote(join(', ', $grad))

        push($webkit, -webkit-linear-gradient(top, $formula))
        push($moz, -moz-linear-gradient(top, $formula))
        push($o, -o-linear-gradient(top, $formula))
        push($standart, linear-gradient(to bottom, $formula))
    }

    {$prop_name}: $webkit
    {$prop_name}: $moz
    {$prop_name}: $o
    {$prop_name}: $standart
}

//---------------------------------------------------------------------------//

/* Default button mixin */
button_default() {
    text-shadow: 0 1px rgba(255,255,255,.5);

    border-radius: 3px

    // Normal and disabled states
    &,
    &._disabled,
    &._disabled:active,
    &._disabled:hover {
        color: #000;

        border: 1px solid;
        border-color: rgba(0,0,0,0.14); unless _ie
        border-color: #DDD #BBB #999; if _ie

        background: #EEE;

        $grad1 = #FEFEFE #D1D1D1
        $grad2 = rgba(#000, 0) rgba(#000, 0.31)
        bg-gradient(background, $grad1, $grad2)

        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-origin: padding-box, border-box;
    }

    // Disabled state
    &._disabled,
    &._disabled:active {
        opacity: 0.5;
        box-shadow: none !important;
    }

    // Pseudo-elements to better state styling
    &:before {
        border-radius: 2px
    }

    &:hover {
        $grad1 = (#FEFEFE 0) (#CBCBCB 87%) (#FFF 100%)
        $grad2 = rgba(#000, 0) rgba(#000, 0.31)
        bg-gradient(background-image, $grad1, $grad2)
    }

    &:active {
        padding-top: 3px;
        padding-bottom: 1px;
        border-color: rgba(0,0,0,0.22);

        $grad1 = #E6E6E6 #FBFBFB
        $grad2 = rgba(#000, 0.21) rgba(#000, 0)
        bg-gradient(background-image, $grad1, $grad2)
    }

    &:active:before,
    input&:active {
        box-shadow: inset 0 1px 4px rgba(0,0,0,.4);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 3px 1px rgba(255,229,131,.8);
    }
}

//---------------------------------------------------------------------------//

/* Pseudo button mixin */
button_pseudo() {
    text-shadow: none;
    border: 0;
    border-radius: 3px;

    // Normal and disabled states
    &,
    &._disabled,
    &._disabled:active,
    &._disabled:hover {
        color: #000;

        $bg = rgba(#000, 0.12)
        $grad = rgba(#000, 0.05) $bg
        background: $bg
        bg-gradient(background, $grad)

        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-origin: padding-box, border-box;
    }

    // Disabled state
    &._disabled,
    &._disabled:active {
        opacity: 0.5;
        box-shadow: none !important;
    }

    &:hover {
        $bg = rgba(#000, 0.18)
        $grad = rgba(#000, 0.08) $bg
        background: $bg
        bg-gradient(background, $grad)
    }
}

//---------------------------------------------------------------------------//

.{button} {
    button_base()
    button_default()
}

//---------------------------------------------------------------------------//

.{button}_pseudo {
    button_base()
    button_pseudo()
}

//---------------------------------------------------------------------------//

.button-group .{button} {
    button_base()
    button_default()

    border-radius: 0
    border-right-width: 0 !important
    &:before {
        border-radius: 0
        border-right-width: 0 !important
    }

    &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    &:first-child :before {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right-width: 1px !important
    }
    &:last-child :before {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-right-width: 1px !important
    }

    // NOTE пока только size=l подогнан
    &.button_size_l:active {
        padding 2px 10px
    }
}
